.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.backToHome {
  margin: 3rem 0 0;
}

.logoRight {
  align-self: flex-end;
}

.logoLeft {
  align-self: flex-start;
}

.github {
  width: 24px;
  color: #ddd;
}

.github:hover {
  color: #34add9;
}

