.questionLabel {
  font-size: 12px;
  color: #34add9;
  font-weight: bold;
}

.questionHeader {
    padding-bottom: 0;
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.questionTitleArea {
    align-self: flex-start;
}

.questionTitle {
    font-size: 48px;
    margin-top: -12px;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0
}

.bountyArea {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: flex-end;
    flex-basis: 100px;
    max-width: 100px;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
}

.bounty {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    background: #34add9;
    font-size: 24px;
    float: left;
    font-weight: bold;
}

.tauBounty {
    align-self: center;
    align-items: center;
}


.questionContent {
    margin-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ddd;
}

.answerDesc {
    color: #adadad;
    font-size: 14px;
}
